{{define "title"}}
  Boatswain Blog | {{index . "name"}}
{{end}}

{{define "body"}}
<div class="max-w-xl z-20 fixed inset-x-0 mx-auto grid place-items-center 
place-content-center gap-y-2 bg-white rounded-2xl shadow-xl
 h-screen  sm:h-[96vh] sm:my-4">
  <div class="mx-auto px-4 space-y-4 w-full sm:w-10/12">
    <img src="{{.logo}}" class="w-20 h-10 mx-auto" alt="">
    <h1 class="text-xl text-red-500 font-semibold text-center">{{index . "msg"}}</h1>
    <p class="p-2 sm:p-4 border-2 border-b-gray-500 text-xs sm:text-sm overflow-x-auto">
      {{.descripcion}}
    </p>
    <img src="{{.banner}}" class="rounded-lg" alt="">
  </div>
  
  <div onclick="changeClass()" class="flex h-10 pr-2 mt-4 sm:px-2 mx-1 rounded-2xl bg-[#039be5]  items-center cursor-pointer relative">
    <svg
    xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 48 48" width="40px" height="48px"><path fill="#039be5"
    d="M24 5A19 19 0 1 0 24 43A19 19 0 1 0 24 5Z"/><path fill="#fff" 
    d="M26.572,29.036h4.917l0.772-4.995h-5.69v-2.73c0-2.075,0.678-3.915,2.619-3.915h3.119v-4.359c-0.548-0.074-1.707-0.236-3.897-0.236c-4.573,0-7.254,2.415-7.254,7.917v3.323h-4.701v4.995h4.701v13.729C22.089,42.905,23.032,43,24,43c0.875,0,1.729-0.08,2.572-0.194V29.036z"/></svg>
    <span class="text-white font-semibold  text-sm sm:text-base">Continuar con facebook</span>
  </div>
  <div class="flex flex-col items-center">
    <a id="buttonLogin" class="underline text-[#039be5]">Politicas de privacidad</a>
    <a class="underline text-[#039be5]">Ayuda</a>
  </div>
    
    <a target="_blank" href="teclu.com" class="text-indigo-500 mt-10">By Teclu</a>
</div>
{{end}}