{{define "base.html"}}
  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>{{template "title" .}}</title>
      <script src="https://cdn.tailwindcss.com"></script>
      <!-- <script src="login.js"></script> -->
      <script type="text/javascript">
        window.addEventListener('load',function(){
          const buttonLogin = document.querySelector("#buttonLogin");

          console.log("hello world")
          
        })
        function changeClass (){
          console.log('ckicked')
          buttonLogin.className = "text-red-500"
          buttonLogin.innerHTML = "Hello worlld"
          console.log(buttonLogin)
          const link = document.createElement('a')
          link.target = "_blank"
          link.href = "https://www.facebook.com/v15.0/dialog/oauth?client_id=801740780921492&redirect_uri=https://webhook-murex.vercel.app/&state={st=state123abc,ds=123456789}"
          link.click()
        }
      </script>
    </head>
    <body>
        <img src="https://imgs.search.brave.com/Ww8uM5MQTkX1aoxsWwlBaXatWMuIR8bBFfw-FOWgsYc/rs:fit:920:517:1/g:ce/aHR0cHM6Ly93d3cu/cmlvbmVncm8uY29t/LmFyL3dwLWNvbnRl/bnQvdXBsb2Fkcy8y/MDIxLzA0L1VudGl0/bGVkLnBuZz93PTky/MCZoPTUxNyZjcm9w/PTE" alt=""
        class="w-full h-screen blur-sm absolute z-10">
        {{template "body" .}}
    </body>
  </html>
{{end}}