


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portal</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <!-- <script src="login.js"></script> -->
  <script src="/view/cookies.js"></script>
  <script type="text/javascript">
    let isAuth = true
      window.addEventListener('load',function(){
        initAuth()
        // console.log(getUrlParams(window.location.search))
      })
      </script>
      <style>
        #snackbar {
          visibility: hidden;
          min-width: 250px;
          background-color: #333;
          color: #fff;
          text-align: center;
          border-radius: 2px;
          font-size: 17px;
          padding: 16px;
          position: absolute;
          z-index: 1;
          bottom: 30px;
        }
        
        #snackbar.show {
          visibility: visible;
          /* -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s; */
          /* animation: fadein 0.5s, fadeout 0.5s 2.5s; */
          -webkit-animation: fadein 0.5s;
          animation: fadein 0.5s;
          
        }
        
        @-webkit-keyframes fadein {
          from {bottom: 0; opacity: 0;} 
          to {bottom: 30px; opacity: 1;}
        }
        
        @keyframes fadein {
          from {bottom: 0; opacity: 0;}
          to {bottom: 30px; opacity: 1;}
        }
        
        @-webkit-keyframes fadeout {
          from {bottom: 30px; opacity: 1;} 
          to {bottom: 0; opacity: 0;}
        }
        
        @keyframes fadeout {
          from {bottom: 30px; opacity: 1;}
          to {bottom: 0; opacity: 0;}
        }
        </style>
         
        <img src="https://imgs.search.brave.com/Ww8uM5MQTkX1aoxsWwlBaXatWMuIR8bBFfw-FOWgsYc/rs:fit:920:517:1/g:ce/aHR0cHM6Ly93d3cu/cmlvbmVncm8uY29t/LmFyL3dwLWNvbnRl/bnQvdXBsb2Fkcy8y/MDIxLzA0L1VudGl0/bGVkLnBuZz93PTky/MCZoPTUxNyZjcm9w/PTE" alt="" class="w-full h-screen blur-sm absolute ">
        <div id="main" style="padding-left: 15px;padding-right: 15px;height: 100vh" class="max-w-xl z-20 
      grid place-items-center absolute mx-auto left-1/2 w-full
      -translate-x-1/2 
      place-content-center bg-white rounded-2xl shadow-xl">
      <div>
          <img id="logo" class=" mx-auto m-1 object-contain" width="100px" height="100px" src="http://localhost:1323/bentley_PNG43.webp" alt="">
        <h1 style="color: rgb(127, 50, 105);" id="titulo" class="text-xl font-semibold text-center">Bienvenidos a YPFB transporte!</h1>
        <p id="descripcion" style="border: thin solid gray;padding:10px;margin: 10px;font-size: 14px;" class="overflow-x-auto">Para acceder a la red, deberás iniciar sesión con tu cuenta de Facebook y posteriormente dar "me gusta" a la última publicación de la página de YPFB Corp.</p>
        <!-- <img style="width: 100%;" class="object-contain max-h-[290px]"
          id="img-b" src="https://imgs.search.brave.com/zn6LL-NBqY9lVeYVegB4olOrLS5Qy7h9qj5Y5FBhF-g/rs:fit:768:439:1/g:ce/aHR0cHM6Ly93d3cu/ZWxwZXJpb2RpY28t/ZGlnaXRhbC5jb20v/d3AtY29udGVudC91/cGxvYWRzLzIwMTkv/MDgvZm90by15cGZi/LTEtMS03Njh4NDM5/LmpwZw" -->
        <!-- class="rounded-lg" alt=""> -->
        <div>
          <img src="https://metal-mec.com.bo/imagen/noticias/JOHcPpsJTgNtHOEMZ-ghXvvc7LE3zxN-.jpg" class="object-contain rounded-lg" id="image-b" style="width: 100%; max-height: 280px;">
          <!-- <video  src='https://www.w3schools.com/tags/mov_bbb.mp4' controls> -->
            
          </div>
        </div>
        
        <div id="buttonLogin" onclick="loginFacebook()" style="background-color: #039be5;height: 35px;margin-top: 10px;margin-bottom: 10px;" class="flex rounded-2xl 
        items-center cursor-pointer relative text-white px-2 font-semibold text-sm sm:text-base">
        Continuar con facebook
        <!-- <svg
          xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 48 48" width="40px" height="48px"><path fill="#039be5"
          d="M24 5A19 19 0 1 0 24 43A19 19 0 1 0 24 5Z"/><path fill="#fff" 
          d="M26.572,29.036h4.917l0.772-4.995h-5.69v-2.73c0-2.075,0.678-3.915,2.619-3.915h3.119v-4.359c-0.548-0.074-1.707-0.236-3.897-0.236c-4.573,0-7.254,2.415-7.254,7.917v3.323h-4.701v4.995h4.701v13.729C22.089,42.905,23.032,43,24,43c0.875,0,1.729-0.08,2.572-0.194V29.036z"/></svg> -->
          <!-- <span  class="text-sm sm:text-base">Continuar con facebook</span> -->
        </div>
        <div class="flex flex-col items-center">
          <a id="privacidad" class="underline" style="color: rgb(127, 50, 105);">Politicas de privacidad</a>
          <a id="help" class="underline" style="color: rgb(127, 50, 105);">Ayuda</a>
        </div>
        <button onclick="myFunction()">Show Snackbar</button>
        
        <div id="snackbar" onclick="closeSnackBar"> <p class="text-sm">Por favor, déle me gusta a nuestra
          <a href="https://www.facebook.com/Yacimientos/" target="_blank" rel="noreferrer" class="underline text-[#039be5] cursor-pointer font-medium"> última publicación </a>
          en facebook
        </p>
      </div>  
      <a target="_blank" href="teclu.com" class="text-indigo-500 ">By Teclu</a>
    </div>	             
  
